.company-list-box{
    background-color: white;
}

.statistics-box {
    /* Existing styles */
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }

  .register-name{
    font-size:18px;
    font-family: 'Jua', sans-serif;
  }
  .register-input{
    margin-right:30px;
    margin-top:10px;
    height:30px;
    width:250px;
    border-radius:10px;
    font-family: 'Jua', sans-serif;
    margin-left: 10px;
  }

  .register-input2{
    margin-right:30px;
    margin-top:10px;
    height:30px;
    width:250px;
    border-radius:10px;
    font-family: 'Jua', sans-serif;
    margin-left:0px;
  }


  .register-button{
    margin-top:20px;
    background-color: rgba(53, 97, 172,10);  
    color: white;
    border: none;
    border-radius:15px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Jua', sans-serif;
    margin-bottom:30px;
  }